@model IEnumerable<ReservaEspectaculo.Models.Genero>


@{
    ViewData["Title"] = "Generos";
}

<h1>Generos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i></a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>               

                <td>
                    <a asp-action="Edit" asp-route-id="@item.GeneroId"><i class="fas fa-pen-square"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.GeneroId"><i class="fas fa-trash-alt"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>