
@{
    ViewData["Title"] = "Prohibido";
}



<center>
    <h1>Acción cancelada</h1>

    <p>Lo sentimos.No puede cancelar esta función debido a que tiene reservas</p>

    <img src="~/img/Prohibido.jpg" style="height:500px;"/>

</center>