
@{
    ViewData["Title"] = "reservaCancelada";
}



<center>
    <h1>Reserva cancelada</h1>

    <p>Lo sentimos. Solo puede tener una reserva activa. Para ver sus reservas haga click <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">aquí</a>
    <img src="~/img/cancel.png"/>

</center>