
@{
    ViewData["Title"] = "sinFunciones";
}


<center>
    <h1>Sin funciones</h1>

    <p>Lo sentimos. No quedan funcines de la pelicula elegida, por favor intente de nuevo.  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Volver</a></p>
    <img src="~/img/novacantes.png" />

</center>