@model ReservaEspectaculo.ViewModels.MesVM

@{
    ViewData["Title"] = "Elegir Mes Recaudacion";
}

<h1>Elegir Mes</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MostrarRecaudacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                @Html.TextBoxFor(m => m.Fecha, new { type = "month"})                                          
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-undo"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
