@model ReservaEspectaculo.ViewModels.ActualizarTelefonoVM

@{
    ViewData["Title"] = "Actualizar Telefono";
}

<h1>Actualizar Teléfono</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActualizarTelefono">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MostrarDatos" asp-controller="Clientes"><i class="fas fa-undo"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
